.marg-25 {
	margin: 25px;
}

.marg-x-25 {
	margin: 0 25px;
}

.marg-y-25 {
	margin: 25px 0;
}

.marg-top-25 {
	margin-top: 25px;
}

.marg-bott-25 {
	margin-bottom: 25px;
}

.marg-left-25 {
	margin-left: 25px;
}

.marg-right-25 {
	margin-right: 25px;
}

.padd-25 {
	padding: 25px;
}

.padd-x-25 {
	padding: 0 25px;
}

.padd-y-25 {
	padding: 25px 0;
}

.padd-top-25 {
	padding-top: 25px;
}

.padd-bott-25 {
	padding-bottom: 25px;
}

.padd-left-25 {
	padding-left: 25px;
}

.padd-right-25 {
	padding-right: 25px;
}

.marg-50 {
	margin: 50px;
}

.marg-x-50 {
	margin: 0 50px;
}

.marg-y-50 {
	margin: 50px 0;
}

.marg-top-50 {
	margin-top: 50px;
}

.marg-bott-50 {
	margin-bottom: 50px;
}

.marg-left-50 {
	margin-left: 50px;
}

.marg-right-50 {
	margin-right: 50px;
}

.padd-50 {
	padding: 50px;
}

.padd-x-50 {
	padding: 0 50px;
}

.padd-y-50 {
	padding: 50px 0;
}

.padd-top-50 {
	padding-top: 50px;
}

.padd-bott-50 {
	padding-bottom: 50px;
}

.padd-left-50 {
	padding-left: 50px;
}

.padd-right-50 {
	padding-right: 50px;
}

.marg-75 {
	margin: 75px;
}

.marg-x-75 {
	margin: 0 75px;
}

.marg-y-75 {
	margin: 75px 0;
}

.marg-top-75 {
	margin-top: 75px;
}

.marg-bott-75 {
	margin-bottom: 75px;
}

.marg-left-75 {
	margin-left: 75px;
}

.marg-right-75 {
	margin-right: 75px;
}

.padd-75 {
	padding: 75px;
}

.padd-x-75 {
	padding: 0 75px;
}

.padd-y-75 {
	padding: 75px 0;
}

.padd-top-75 {
	padding-top: 75px;
}

.padd-bott-75 {
	padding-bottom: 75px;
}

.padd-left-75 {
	padding-left: 75px;
}

.padd-right-75 {
	padding-right: 75px;
}

.marg-100 {
	margin: 100px;
}

.marg-x-100 {
	margin: 0 100px;
}

.marg-y-100 {
	margin: 100px 0;
}

.marg-top-100 {
	margin-top: 100px;
}

.marg-bott-100 {
	margin-bottom: 100px;
}

.marg-left-100 {
	margin-left: 100px;
}

.marg-right-100 {
	margin-right: 100px;
}

.padd-100 {
	padding: 100px;
}

.padd-x-100 {
	padding: 0 100px;
}

.padd-y-100 {
	padding: 100px 0;
}

.padd-top-100 {
	padding-top: 100px;
}

.padd-bott-100 {
	padding-bottom: 100px;
}

.padd-left-100 {
	padding-left: 100px;
}

.padd-right-100 {
	padding-right: 100px;
}